{% extends "base.html"  %}

{% block content %}

<h1>Привет, {{user}}!</h1>
<p>{{weather}}</p>

<div class="card" style="width: 18rem;">
    <img src="static/images/doberman2.jpg" class="card-img-top" alt="DoberPng">
    <div class="card-body">
      <h5 class="card-title">Заголовок карточки</h5>
      <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
      <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
  </div>
</div>

{% endblock %}